# IDEs
/.idea
/.project
/nbproject
/.buildpath
/.settings
*.sublime-*
*.AppleDouble
*.AppleDB
*.AppleDesktop

# OS
.DS_Store

# grunt stuff
.grunt
.sass-cache

/vendor/
/tests/_output/*
!/tests/_output/.gitkeep
